# --- Django Core ---
Django
djangorestframework
asgiref
sqlparse
tzdata

# --- PostgreSQL Support ---
psycopg2-binary

# --- JWT & Authentication ---
djangorestframework-simplejwt
djangorestframework-authtoken

# --- CORS Support ---
django-cors-headers

# --- Filtering Support ---
django-filter

# --- Media File Support ---
Pillow  # للتعامل مع الصور والملفات

# --- Tagging Support ---
django-taggit

# --- Deployment/Production ---
gunicorn          # لتشغيل السيرفر
whitenoise        # لتقديم static files
python-dotenv     # لتخزين بيانات حساسة في .env
